@charset "UTF-8";

/*Mobile first*/

/*
color: #5F2C82
#94CFCD
*/


* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 900px;
    position: relative;

    background-color: #5F2C82;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 70vw;
    margin: auto;
}

.image {
    background-color: blueviolet;
    background-image: url(../images/building.jpg);
    background-position: bottom left;
    height: 200px;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
    background-repeat: no-repeat;
    background-size: cover; 
}

.login {
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    height: 400px;
}

h1 {
    text-align: center;
    padding: 10px;
}

p {
    text-align: justify;
    padding: 5px;
    margin: 5px;
}

form {
    margin: 5px;
}

#user {
    background-color: #5F2C82;
    border-radius: 10px;

}

#icon {
    color: white;
}

#inside {
    background-color: #94CFCD;
    width: 89%;
    border: none;
    height: 30px;
    border-radius: 5px;
    padding: 1px 1px 1px 5px;
}

#inside:focus {
    background-color: white;
}

#enter {
    display: block;
    width: 97%;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #48a09d;
    font-weight: bolder;
    margin: auto;
    height: 35px;
}

#enter:hover {
    background-color: #2D6462;
    transition-duration: 0.5s;
}

#link {
    width: 96%;
    padding: 5px;
    margin: auto;
    display: block;
    text-decoration: none;
    text-align: center;
    border: 1px solid #48a09da4;
    border-radius: 5px;
    color: #2D6462;
    font-weight: 100;
    height: 50%;
}

#mail_icon {
    font-size: medium;
}

#link:hover {
    background-color: rgba(2, 224, 224, 0.801);
    transition-duration: 0.5s;
}

#link_p {
    margin: auto;
    height: 35px;
}