@charset "UTF-8";

/*Mobile first*/

/*
color: #5F2C82
#94CFCD
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,
html {
    background-color: #5F2C82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;

    height: 100vh;
    width: 100vw;
}

#login {
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
}

#image {
    display: block;
    background-color: #5F2C82;
    background-image: url(../images/building.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}

#form {
    display: block;
    padding: 10px;
}